<div class="custom-card custom-bg">
  <h2 class="custom-space">Login</h2>

  <form class="form login-form">
    <div class="form-group">
      <label for="email-login" class="custom-space">Email:</label>
      <input class="form-input custom-space" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login" class="custom-space">Password:</label>
      <input
        class="form-input custom-space"
        type="password"
        id="password-login"
      />
    </div>
    <div class="form-group">
      <button
        id="loginButton"
        class="btn btn-primary custom-space"
        type="submit"
      >Login</button>
    </div>
  </form>
</div>

<div class="custom-card custom-bg">
  <h2 class="page-title custom-space">Signup</h2>
  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup" class="custom-space">Username:</label>
      <input class="form-input custom-space" type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup" class="custom-space">Email:</label>
      <input class="form-input custom-space" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup" class="custom-space">Password:</label>
      <input
        class="form-input custom-space"
        type="password"
        id="password-signup"
      />
    </div>
    <div class="form-group">
      <button
        id="signupButton"
        class="btn btn-primary custom-space"
        type="submit"
      >Signup</button>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>